<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar Shop - {{title}}</title>
</head>
<body>
    <h1>This week specla offers !!!</h1>
    {% for guitar in guitars %}
    <section>
        <p>
            {{guitar.brand}}{{guitar.model}}{{guitar.year}} WAS 5000 {{guitar.price}}
        </p>
    </section>
    {% endfor %}
</body>
</html>